[Unit]
Description=Builds and install new kernel modules through DKMS
Documentation=man:dkms(8)

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=-/usr/sbin/dkms autoinstall --kernelver $(uname -r)

[Install]
WantedBy=multi-user.target
